[2016-10-12 17:25] callmekatootie opened #5 "How to exit?"
I currently exit using Ctrl + C (Ubuntu OS) - is that the correct way to exit or is there a more elegant way?

[2016-10-12 17:32] jasonwilson commented on #5
Currently Ctrl + C, Q, and ESC will trigger a graceful exit. I'll update the docs to include these details. Thanks!

[2016-10-12 17:49] bbohen opened #6 "Harmony flags not working"
This tool is awesome but I noticed that when I tried to get it running with an existing project the dashboard would display but nothing would run as the project supports Node v5.X while using harmony flags.

Works: `"dashboard": "nodejs-dashboard node server.js"`
Doesnt Work: `"dashboard": "nodejs-dashboard node --harmony_destructuring server.js"`

Not sure if the intention is that nodejs-dashboar

[2016-10-12 17:55] jasonwilson commented on #6
@bbohen can you provide more details on your environment/node version/etc? Thanks!

[2016-10-12 18:21] bbohen commented on #6
Sure thing!

**Node:** v5.6.0 / v5.11.0
**NPM:** v3.8.6
**NPM Script:** `"dashboard": "nodejs-dashboard node --harmony_destructuring server.js"`
**OS:** OSX 10.11.5

When I switch to Node 6 and remove the harmony flags, everything works great. Please let me know if I could provide any other useful info.

[2016-10-12 18:30] blakeembrey opened #7 "Idea: Multiple tabs"
Really nice work! I'm just opening this issue to submit an idea.

For applications that maybe have multiple processes running, what do you think about enabling tabs? Perhaps each application running could register itself to a display name and you could toggle between them using numbers. I could imagine spawning child processes that might render a new tab and then when it closes the tab disappears.

[2016-10-12 18:32] abhijeetNmishra opened #8 "Docker missing TTY -- `waiting for client connection on 9838...`"
nothing happens after this. Node doesn't start

[2016-10-12 20:21] jasonwilson commented on #8
What args are you passing to the dashboard?

[2016-10-12 20:51] kaatt opened #9 "Using babel-node and nodemon"
`nodejs-dashboard babel-node index.js` works fine.

Dunno how to use it with both nodemon and babel-node.

This is the raw command i used earlier btw: `nodemon index.js --exec babel-node`

[2016-10-12 23:40] exogen commented on #9
@kaatt I'm not sure yet whether it makes more sense to run the dashboard within nodemon or nodemon within the dashboard, but this appears to work:

`nodemon --exec "nodejs-dashboard babel-node" src/index.js`

[2016-10-13 00:23] Maxwell2022 opened #10 "No graph for CPU and Memory in Docker Container"
Not sure this can be fixed or not

![screen shot 2016-10-13 at 11 21 17 am](https://cloud.githubusercontent.com/assets/670701/19332392/4781fac2-9137-11e6-80a9-020bc5dcf951.png)

[2016-10-13 02:24] jasonwilson commented on #10
Can you describe the setup a little more? Is the dashboard and agent running in the container?

[2016-10-13 04:23] jasonwilson commented on #7
Thanks for the feedback @blakeembrey! I've been thinking about different architectures for handling cluster mode and or workers. Decoupling the child from the dashboard would allow for greater control but would create challenges for `stdout`, as you note. Leveraging the existing infrastructure in cluster might solve some of these problems.

https://github.com/chjj/blessed certainly has support for

[2016-10-13 04:34] jmcneese opened #12 "strange terminal character output"
added import to my server entrypoint:
`import 'nodejs-dashboard';`

added npm script like so:
`"start:dev": "NODE_ENV=development nodemon --watch server --exec \"npm run build:schema && nodejs-dashboard babel-node server/index.js\""`

get these escape characters after running for a minute or so:
<img width="1436" alt="screenshot 2016-10-12 22 26 43" src="https://cloud.githubusercontent.com/assets/

[2016-10-13 04:42] pyros2097 commented on #8
This happens to me also within a docker container using docker-compose,
The args are this,
`
npm start

`

[2016-10-13 06:39] joshontheweb commented on #12
I have had a similar issue running
`forever -c "nodejs-dashboard node" server.js`

It just spits out the escape characters when I move the mouse but I don't even get to the dashboard view.

It seems to work fine running without forever.

[2016-10-13 06:46] comradealain opened #14 "Stdout and stderr not updating"
I am consoling to stdout and stderr but dashboard updates with none of them. My index.js code is as follows:

[code]

The following should appear on stdout:

[code]
While I expect this line on stderr:
`Printing on stderr`

But this is what my dashboard looks like:

![nodedash](https://cloud.githubusercontent.com/assets/7949156/19339052/abdf16b0-913e-11e6-9923-5c345318a2c2.png)

[2016-10-13 06:49] imthinhvu commented on #9
I currently have a grunt serve script that runs grunt-nodemon. Is there a possible way to integrate the dashboard with grunt?

[2016-10-13 06:50] comradealain commented on #10
I am also facing this issue. Although I am running dashboard on my local machine.

[2016-10-13 07:58] enko opened #15 "Colors and characters are missing"
Have a look at these two screenshots:

![bildschirmfoto_2016-10-13_09-25-58](https://cloud.githubusercontent.com/assets/19407/19340566/d6012e70-9129-11e6-89d6-44085da9b825.png)

vs

![bildschirmfoto_2016-10-13_09-26-35](https://cloud.githubusercontent.com/assets/19407/19340570/db974806-9129-11e6-9d0f-216b004f5e94.png)

It seems the ansicodes and unicode characters of mocha are beeing striped?

Che

[2016-10-13 09:24] saelfaer opened #16 "don't make us require it in the app"
I suggest we find a way not to require it in index.js (you do suggest to install it as dev dependency which would mean it is not available in production)

possible solutions:

* wrap it in a logical test on the environement >>  not ideal, and bloat
* wrap it in a separate dev.index.js which then loads index.js
* ...

[2016-10-13 09:51] Volox commented on #16
Also the cli usage can be as simple as:
`nodejs-dashboard app.js`

which under the hood calls `node -r nodejs-dashboard app.js`.

[2016-10-13 09:59] ryan-roemer opened #17 "Add `package.json:engines` limitation"
since this is node 4+ only.

[2016-10-13 10:05] ryan-roemer commented on #9
@imthinhvu -- Looks like you can pass https://github.com/ChrisWren/grunt-nodemon#exec , so @exogen 's example above may look something like:

[code]

or

[code]

(above is totally untested code, but seems to comport with the `grunt-nodemon` docs)

[2016-10-13 10:15] ryan-roemer commented on #6
Isn't the actual command supposed to be:

[code]

per the docs and usage string?

The `--` should also preserve all args because they won't get interpolated by commander.

[2016-10-13 10:24] pavanmehta91 commented on #16
Yes please, Have a global (-g) install available for this module.

[2016-10-13 12:20] bbohen commented on #6
@ryan-roemer Good call! Placing the `--` before `node` fixes the issue for me. As you mentioned in #13 it would be good to beef up the readme examples a bit. Thanks.

[2016-10-13 12:20] #6 closed

[2016-10-13 12:27] avalla commented on #9
@exogen confirm that this works:
[code]

[2016-10-13 13:27] wxyyxc1992 commented on #9
i run into the same problem:
[code]
![f56dae57-4c7d-48d0-92e9-a24b8be6def2](https://cloud.githubusercontent.com/assets/5803001/19350798/c861e7c0-918b-11e6-9d5a-fa476da83ce5.png)

[2016-10-13 13:34] Aweary commented on #14
@comradealain the `stderr` output shows that you're getting an `EADDRINUSE` error for port 4000, do you have anything else running on that port? Can you try a different port?

[2016-10-13 16:20] igreulich opened #19 "Missing Package"
When I run my app, I get the following error. (Installed the dashboard following the directions in the README from the repo.)

[code]

This is during the webpack build process. (I started the app with `create-react-app` but have since ejected it, am adding niceties.)

[2016-10-13 16:38] jasonwilson commented on #14
@comradealain it looks like your app is crashing on startup as @Aweary mentioned. The default port is `9838` and can be changed using the `-p` argument.  Saying that I would verify there isn't a process already running on that port.

[2016-10-13 16:38] #14 closed

[2016-10-13 16:42] BLamy commented on #16
I normally go with your second possible suggestion. I place it next to babel-register.

![image](https://cloud.githubusercontent.com/assets/324928/19357982/ea4856d4-9141-11e6-8816-dc25e8ee5f9a.png)

[2016-10-13 16:52] exogen commented on #19
Hm, this seems to imply that webpack is trying to bundle a server-side only file? I can't be sure of your setup, but it's odd that webpack would touch such a file since `nodejs-dashboard` is mostly intended to run long-running server processes.

Either way, would probably be fixed by #16.

[2016-10-13 17:39] jasonwilson commented on #16
Great suggestion @saelfaer  and @Volox-- going to experiment with a couple different options . I like @Volox's idea of using `-r` but we'd need to ensure it's compatible with things like `babel-node`.

[2016-10-13 17:47] #5 closed

[2016-10-13 18:54] igreulich commented on #19
I will recheck, once #16 has been addressed.

Thanks.

[2016-10-13 18:54] #19 closed

[2016-10-13 21:21] daithi-coombes commented on #10
Mine is same as above. Seems its not polling or can't connect to socketio? 0% memory and no cpu - logs are working as expected.

`"nodejs-dashboard": "^0.1.0"`

[code]

[2016-10-13 22:01] daithi-coombes commented on #10
also tests are failing for nodejs-dashboard
[code]

Note: not using a docker container

[2016-10-13 23:12] daithi-coombes commented on #10
@Maxwell2022 @comradealain Seems the agent wasn't running so no metric events were emitted. I've created a `PR` with a quickfix that solves the issue for me: https://github.com/FormidableLabs/nodejs-dashboard/pull/20

[2016-10-14 00:31] #17 closed

[2016-10-14 00:57] jrainlau opened #21 "Can't work on git-bash"
Hello! Your work is awesome, but I've found it can not work in git-bash, all the output are mess code. Are there anything I did wrong, or `nodejs-dashboard` doesn't support git-bash yet?
Thanks！

[2016-10-14 03:16] jasonwilson commented on #10
@Maxwell2022 did you `require("nodejs-dashboard");` from within your app? I was able to successfully run within a docker container using slightly modified version of @enko's gist https://gist.github.com/enko/31be945ca47b0c481275e76a2b695714

Replaced the test code with:
[code]
<img width="1119" alt="screen shot 2016-10-13 at 8 12 54 pm" src="https://cloud.githubusercontent.com/assets/1151656/19374

[2016-10-14 05:48] jasonwilson commented on #15
Pretty sure this is caused by `isTTY` failing in the child process since the parent isn't passing through stdio. As a quick test I updated your mocha exec command to force colors `nodejs-dashboard -- mocha test.js --colors` and it reproduces them correctly.

The trick here is finding a way to force tty with a child process. The issue is detailed nicely here: https://github.com/nodejs/node-v0.x-arc

[2016-10-14 11:59] Braynid opened #22 "Run command parameters aren't forwarded to destination script"
I have the following command in `package.json` -> `"dev": "nodejs-dashboard node bin/server.js --env development"`
The issue is that `--env development` doesn't get forwarded to `server.js`.

I've tested and the issue is that `commander` strips it and only keeps the command itself.

I'll try and provide a PR if I find the time!

LE: I know you can use `"dev": "nodejs-dashboard -- node bin/server.j

[2016-10-14 12:59] svennidal opened #23 "bash: nodejs-dashboard: command not found"
I did:
"npm install nodejs-dashboard --save-dev"
added "require('nodejs-dashboard')" to the top of my app.js
ran "nodejs-dashboard node app.js" from the command-line and get this error:

"bash: nodejs-dashboard: command not found"

[2016-10-14 13:46] pleeschultz commented on #23
You have to install it globally.
"npm install nodejs-dashboard --save-dev -g"
The docs need to be updated accordingly

[2016-10-14 14:04] srbdev opened #24 "Support for Meteor"
This is more of an idea and/or feature request, if at all possible. It would be useful to have this data while developing a Meteor application.

Thanks for the tool!

[2016-10-14 14:49] ryan-roemer commented on #22
It's very likely going to remain that you will need '--'  because without it the dashboard itself with collide with flags which gives us a very complicated future development strategy.

'--'  is the time hundred and well excepted way of having one process invoke a child process with all of its flags and glory . 🙂

[2016-10-14 14:49] Aweary commented on #23
You have to run it as an `npm` script if you're not installing it globally (which is fine). Per the README:

[code]

Then you can do `npm run dev` and it should work. This is because `npm` scripts load the `node_modules/.bin` folder into the PATH when running, and that's where the executable is.

[2016-10-14 15:59] ryan-roemer commented on #15
For `chalk`-based apps / scripts, the `FORCE_COLOR="true"` env variable will force colors to be enabled. Not sure if it's appropriate for the dashboard itself to hack that in though... Possibly could have a dashboard `--colors` flag to "do all hacks possible to do colors that we know of".

See https://github.com/chalk/supports-color/blob/master/readme.md#info

[2016-10-14 16:51] mathieudutour opened #26 "Text selectable in the stream"
Text is not selectable in the stdin and stdout stream. I guess it might be related to this https://github.com/chjj/blessed/issues/263 but I'm not sure wether it's my config or it's more general.

[2016-10-14 16:52] Braynid commented on #22
Right now they're just ignored so I imagine they could be just captured and forwarded.

But you're right, using `--` is the true and trusted way of doing it.

[2016-10-14 16:52] #22 closed

[2016-10-14 18:57] craftfortress opened #27 "Please make compatible with Chalk so colors are brought across"
I love your module, however before my console logs were colored, as I am using Chalk.  It is really important as it helps make the output clearer.

Please enable compatibility.

Thank you and keep it up!

[2016-10-14 19:05] jasonwilson commented on #27
Duplicate of #15, until we find out a generalized solution you can try using the `FORCE_COLOR` flag with chalk.

[2016-10-14 19:24] jasonwilson commented on #23
@svennidal as noted you'll need to run as a script. Alternatively you could access the bin directly using:

`./node_modules/nodejs-dashboard/bin/nodejs-dashboard.js ...` but the preferred method at this time is via script.

[2016-10-14 19:24] #23 closed

[2016-10-14 20:41] #9 closed

[2016-10-14 20:59] jasonwilson commented on #8
@pyros2097 can you provide detail for your docker-compose.yml? I think you need to launch with an attached terminal for it to work correctly.

[2016-10-14 21:24] jasonwilson commented on #21
@jrainlau can you provide an example of how you're using it?

[2016-10-15 07:31] pyros2097 commented on #8
This is how my service is declared,
[code]
I  start my service with docker-compose up. I'll try it again with the attach tty option later as that option allows for colored output of my server logs but crashes the container sometimes due to a docker-compose bug that's why I had disabled it.

[2016-10-15 15:07] jlc467 commented on #12
Just curious, are you using iTerm2 with mouse reporting enabled? If so, try disabling and report back. It solved the issue for me.

![node-dash-issue12](https://cloud.githubusercontent.com/assets/6405557/19411031/708bea54-92c7-11e6-95cd-d9cdd2b26bfd.gif)

[2016-10-15 16:53] vitosamson commented on #12
I was able to work around this by running nodemon inside of nodejs-dashboard: `nodejs-dashboard -- nodemon -x 'node .'`

[2016-10-16 09:25] riggerthegeek opened #29 "Can I pipe the Stdout?"
&lt;praise&gt;Splendid package, well done&lt;/praise&gt;

My application uses [Bunyan](https://github.com/trentm/node-bunyan) for logging. In order to make the output more readable, my original command is `node ./app.js | bunyan`.

When I change my command to `nodejs-dashboard node ./app.js | bunyan`, I just get the message "Waiting for client connection on 9838..." and nothing else.

If I get rid

[2016-10-16 13:09] svennidal commented on #23
Thanks! 👍

[2016-10-17 06:19] gitnik commented on #26
inside stream-view.js you need to set `mouse` to `false` and then it'll work

[2016-10-17 06:21] gitnik commented on #26
https://github.com/FormidableLabs/nodejs-dashboard/pull/30

[2016-10-17 08:43] armed10 opened #31 "Resize graphs on terminal resize"
After resizing the terminal, both the outputs and the graphs are resized as well. Only the outputs use this new space, the graphs stay small.

Tested with 1.0.1 on Ubuntu Trusty LTS (14.04)
![smallgraphs](https://cloud.githubusercontent.com/assets/234881/19430918/8223e9e8-9456-11e6-92ef-c317c868f50a.jpg)

[2016-10-17 08:48] armed10 opened #32 "Round CPU usage [suggestion]"
![cpuusage](https://cloud.githubusercontent.com/assets/234881/19431006/e05bfea6-9456-11e6-8e5c-9866064d6204.jpg)

As shown above, CPU usage is not rounded off. This may cause wrapping which might look less appealing. Consider rounding the number to a maximum of decimals to prevent this.

[2016-10-17 12:06] cannap opened #33 "Windows 10 ConEmu no Scrollbars"
Hi, i  have no Scrollbars in my ConEmu on  Window 10 and cant scroll any
when i console.log some arrays/object it would be helpfull but i think its a windows problem xD
here a screen:
https://gyazo.com/beab152e51d0945c14b458e2161c1676

//e but i think its a problem from https://github.com/chjj/blessed

[2016-10-17 16:06] jasonwilson commented on #31
Unfortunately [blessed](https://github.com/chjj/blessed) doesn't support resizing of windows when the terminal characteristics change.

[2016-10-17 16:06] #31 closed

[2016-10-17 17:14] jasonwilson commented on #29
Hi @riggerthegeek not sure that this setup will work in its current incarnation. You might be able to use bunyan `-p` option with some bash hackery and launch bunyan via the dashboard.

[2016-10-17 17:59] #32 closed

[2016-10-17 19:28] rakeen opened #36 "Fonts render as question marks instead of dots, etc."
I'm seeing question mark `?` instead of those nice dots.
![screenshot from 2016-10-18 01-25-53](https://cloud.githubusercontent.com/assets/10359412/19452206/fd41d998-94d1-11e6-9c4c-71d0e49de1dc.png)

I've used `SourceCodePro+PowerLine+Awesome Regular` font in my terminal also.

[2016-10-18 07:53] riggerthegeek commented on #29
Yeah, that might work. It's a little bit coupled to Bunyan though.

It might be a useful addition in future to be able to pipe the output

[2016-10-18 16:00] loretoparisi opened #38 "process.stdout.write no output"
I have no output in the `stdout` view, when doing

[code]

[2016-10-20 03:05] jasonwilson commented on #38
When trying a similar example it's printing each character on a separate line. This is because the dashboard is treating each stream event as a new log entry. Are the characters not visible to you? Does it work without the dashboard?

[2016-10-20 03:07] jasonwilson commented on #21
Closing for now. Feel free to reopen if you can provide more details.

[2016-10-20 03:07] #21 closed

[2016-10-20 03:07] jasonwilson commented on #8
@pyros2097 were you able to test with attached terminal? thanks!

[2016-10-20 03:11] jasonwilson commented on #33
Agree that this is likely coming from [blessed](https://github.com/chjj/blessed). Closing for now unless there's a fix.

[2016-10-20 03:11] #33 closed

[2016-10-20 03:12] jasonwilson commented on #36
What terminal/os are you using and what is TERM environment variable set to? This seems somewhat related https://github.com/chjj/blessed/issues/98.

[2016-10-20 03:13] jasonwilson commented on #12
@jmcneese were you able to get around this issue?

[2016-10-20 03:50] joshontheweb commented on #12
@jlc467 Yes, I am using iterm with the mouse reporting so that makes sense.

In the end this worked fine for me:
`nodejs-dashboard forever server.js`

[2016-10-20 04:59] pyros2097 commented on #8
It doesn't work when I use `docker-compose up` but I manually bashed into the web container using `docker-compose run web bash` and ran `npm start` and it worked. I guess compose needs to be configured in some other way.

[2016-10-20 05:06] #16 closed

[2016-10-20 07:04] pavanmehta91 opened #39 "Running with the Global Binary"
I would ideally not want to touch my package.json/code base at all and run the dashboard via the binary itself.
Is it possible?
I did
nodejs-dashboard npm start It loads the dashboard but does not update the memory and processor usage part.

[2016-10-20 07:19] pavanmehta91 commented on #39
Here is the screenshot for the same.
http://prnt.sc/cwk1z2

[2016-10-20 07:48] loretoparisi commented on #38
@jasonwilson running node from shell, it will print out the char and feed back to line start).

[2016-10-20 14:38] rakeen commented on #36
Ubuntu 16.04    bash(4.3.42) with [terminal-flat-theme](https://github.com/IonicaBizau/terminal-flat-theme)

However TERM is not set (I guess).
![screenshot from 2016-10-20 20-37-14](https://cloud.githubusercontent.com/assets/10359412/19564345/1182d742-9705-11e6-976e-6935ab63a8c1.png)

[2016-10-20 16:42] jasonwilson commented on #39
@pavanmehta91 did you include the module in your code?

[2016-10-20 17:23] jasonwilson commented on #36
Can you provide the output of `env | grep TERM`?

[2016-10-20 17:49] rakeen commented on #36
`TERM=xterm-256color`
![screenshot from 2016-10-20 23-49-18](https://cloud.githubusercontent.com/assets/10359412/19571401/df7ce27c-971f-11e6-9f2e-cc8c44d7fa30.png)

[2016-10-22 08:43] seabaylea opened #40 "Adopt 'appmetrics' for additional data collection?"
It might be overkill depending on the scope of monitoring that your looking to provide, but it might be worth looking at `appmetrics` as a source of monitoring data. The project is here:
GitHub:  https://github.com/RuntimeTools/appmetrics
NPM:      https://www.npmjs.com/package/appmetrics

[2016-10-24 18:07] jasonwilson commented on #40
Thanks for the suggestion @seabaylea! I'm not super familiar with appmetrics but have been contemplating a plugin system that would allow users to integrate their own views/metrics. This would allow for ultimate flexibility while keeping the core module lean.

[2016-10-27 11:28] tanepiper commented on #12
I've tried @vitosamson's solution but it doesn't work for me fully.  The dashboard starts but the event loop, memory and cpu are not working.  Other wise I get the same character rendering issue.

I tried forever too in watch mode but couldn't get it to work, it would just crash but spawn an instance.

[2016-10-28 21:29] jbonigomes commented on #24
I work with Meteor too, would be really nice to see it there

[2016-11-01 11:43] forz13 opened #42 "Memory leak"
- **Node Version**: Node v6.9.1
- **Package version**: v0.1.1
- **Platform**: SMP Debian 3.2.81-1 x86_64 GNU/Linux
When I required this package, the memory began to grow slowly
`const dashboard = require("nodejs-dashboard");`
**Memory schedule**
![deepinscreenshot-5958](https://cloud.githubusercontent.com/assets/8948915/19888612/281512fc-a049-11e6-9ea3-52613341c9c7.png)
**Comparison of 2 heap shap

[2016-11-01 16:51] jasonwilson commented on #42
Thanks for filing this issue @forz13. Can you provide a little more detail? From the graph above it appears that memory is decreasing over time. Each telemetry event will create a new string to hold the data. I might be able to optimize this by writing to a reusable buffer instead.

[2016-11-01 16:52] jasonwilson commented on #39
@pavanmehta91 haven't heard back from you. Going to close this issue for now but feel free to reopen when you can provide more information.

[2016-11-01 16:52] #39 closed

[2016-11-02 05:02] pavanmehta91 commented on #39
Thanks for the help Jason. It started to work when I added the module in the code.
I still face the issue of characters not showing properly though. But you can close this issue. I guess that issue is already reported and I'll check that.

[2016-11-02 06:11] forz13 commented on #42
Yes, the amount of free memory decreases slowly over time, and I agree with you about the use of buffers in place of strings

[2016-11-02 13:14] jasonwilson commented on #42
To clarify is this 1) overall system memory or 2) utilization by a specific process, say: node or dashboard?

[2016-11-03 07:11] forz13 commented on #42
1 - It's available RAM at OS.  I have't  now memory schedule for node process, but I am sure that the RAM is reduced due  increasing memory usage by node process

[2016-11-04 21:09] steveslayden commented on #42
@forz13, do you know about how much data is going out to stdout or stderr? It would have to be almost 2k/sec to be the sole issue here (looks like about a 200mb drop in 27hrs). Currently, the app is buffering all the stdout and stderr so they can be viewed in the windows. We probably need to cap this.

[2016-11-05 06:30] nlhuykhang commented on #24
I was able to get this module working with Meteor. All it needs to do is to modify the Meteor's execution script:

- The script is: /Users/username/.meteor/meteor (if you are on MacOS)
- Replace the last line used to start node server at the bottom with these lines:

[code]

Then you will need to add `--dashboard` option to meteor command to run with nodejs-dashboard. Without `--dashboard`, it wil

[2016-11-14 13:19] #27 closed

[2016-11-27 09:42] danielrvt opened #46 "Won't work when using foreman"
This is my Procfile for my LoopbackJS app:

`web: nodejs-dashboard node .`

The problem:
If I run `nf start`, the console just clears and nothing shows up (Not even an error). My app uses a bunch of environment variables and foreman really makes it a breeze to run it.

The expected result:
The dashboard should appear in the terminal running the app. This actually does happen if I run `nodejs-dashb

[2016-12-01 20:10] jasonwilson commented on #42
@forz13 can you try rerunning with `0.2.1`? We published some changes that should address these issues.

[2016-12-01 20:31] forz13 commented on #42
@jasonwilson thank you, i will try it and give the graphics in the next few days

[2016-12-01 22:22] jasonwilson commented on #42
Closing for now. Feel free to reopen if the issue isn't resolved.

[2016-12-01 22:22] #42 closed

[2016-12-05 03:17] p77u4n commented on #12
I have same problem :(

[2016-12-20 05:36] jasonwilson commented on #46
I'm not familiar with foreman but does it have a mechanism to pass through stderr/stdout? When I try the test app locally it prints ansi escape characters.

Inverting the pattern and creating a foreman npm task for the app:
[code]

This works as expected but stderr/stdout are consolidated into a single `stdout` stream. Likely related to this issue: https://github.com/strongloop/node-foreman/issues

[2016-12-21 17:49] vitosamson opened #48 "latest version on npm is 0.3.0 but I don't see 0.3.0 in the github repo"
greenkeeper just notified me that there's a 0.3.0 version available for this project, but I'm not seeing anything about 0.3.0 in this repo.

I also don't see any tags or releases of any kind, or any CHANGELOG to indicate what changed between 0.2.1 and 0.3.0.

can you provide some info on what changed and confirm that this was a legitimate publish to npm?

[2016-12-22 18:13] jasonwilson commented on #48
Apologies for the failing to push the latest release. Have remedied that situation and will add a changelog when I get some cycles.

[2016-12-22 18:13] #48 closed

[2016-12-23 15:30] PEM-- commented on #24
@nlhuykhang That would be a pretty nice addition to Meteor. Do you intend to push a PR on their repo?

[2017-02-13 23:02] aisapatino opened #58 "Show memory usage over time"
In the layout with cpu / event loop history

[2017-02-14 18:16] aisapatino commented on #38
Unable to reproduce. WIth the first example

[code]

I see nothing in stdout because it throws an error (`index is not defined`)

Second example

[code]

I see something like this

<img width="943" alt="screen shot 2017-02-14 at 10 12 46 am" src="https://cloud.githubusercontent.com/assets/1279315/22942379/2a4d2f12-f29e-11e6-920c-534490d4fb0c.png">

my terminal doesn't recognize `\033[0G` but there

[2017-02-21 20:48] aisapatino opened #64 "Longer history for graphs"
30m for cpu/event loop/memory graphs when they're full width.
Probably don't want to store individual per-second values, so would need to add aggregation to provider.

[2017-03-22 03:00] #58 closed

[2017-07-20 20:48] mscottx88 opened #67 "Pause, Rewind and Fast Forward Graphs"
Add the ability to Pause, Rewind and Fast Forward Graphs with simple key interface.

[2017-07-28 23:45] mscottx88 opened #68 "Goto User-Defined Time Index"
Provide the ability to find a specific time in the graphs.

[2017-08-02 21:52] mscottx88 opened #69 "Create Platform View"
Give details about the platform the Node app is running on.

[2017-08-10 15:33] jasonwilson commented on #64
Closed by: https://github.com/FormidableLabs/nodejs-dashboard/commit/4ad9351008333a152a1b96b0362f81a6aa4ae484

[2017-08-10 15:33] #64 closed

[2017-08-16 17:01] dyst5422 opened #71 "No charts with ts-node"
This is more likely an issue on the ts-node side of things, but I'm not sure how the chart statistics are obtained to open up a topic over there.

[2017-08-17 15:49] mscottx88 commented on #67
Work completed.

[2017-08-17 15:49] #67 closed

[2017-08-19 07:23] aequasi commented on #9
@jasonwilson these mouse events still happen

[2017-10-22 21:12] HACKHERS opened #73 "RangeError: "size" argument must not be negative"
Just installed nodejs-dashboard globally, but I'm getting error.

Command: `nodejs-dashboard -- node -r nodejs-dashboard index.js`

Error code:
[code]

[2017-11-28 18:33] ryan-roemer commented on #73
Hi @HACKHERS !

Can you create a minimal repository that exposes the error and then give us install + error reproduction steps so that we can more quickly diagnose what's going on? Thanks!

[2017-11-28 19:40] jjasonclark commented on #36
I am able to repo this error using a docker image for `node:8-alpine`.

![screenshot from 2017-11-28 11-37-37](https://user-images.githubusercontent.com/155233/33340373-cb30bb82-d430-11e7-9d67-b39ec54c31e2.png)

This was created by running `docker-compose run app yarn run test-app` with the following file.

[code]

[2017-11-29 02:16] jjasonclark commented on #36
I think I have found a solution. The `LANG` environment variable needs to be set to `en_US.UTF-8`

[code]

Or in a docker-compose.yml file
[code]

@rakeen Could you please check if this solution works for you?

[2017-11-29 02:23] jjasonclark commented on #38
Closing this issue as it seems to be caused by code error. If this is not the case please comment.

[2017-11-29 02:23] #38 closed

[2017-11-29 02:46] jjasonclark commented on #15
I can confirm that adding the environment values will fix both issues.

Add the following values to your `docker-compose.yml` file
[code]

I forked @enko 's gist to include adding the environment values. The tests run with the graphs showing the correct dots and the color in the stdout window. https://gist.github.com/jjasonclark/0afed89466db871a3479f55ca2534439

`docker-compose run --rm test_runne

[2017-11-29 02:46] #15 closed

[2017-11-29 02:59] jjasonclark commented on #10
This issue could be related to https://github.com/FormidableLabs/nodejs-dashboard/issues/15

[2017-11-29 03:06] jjasonclark commented on #46
Issue solved with reordering of process calls. Closing.

[2017-11-29 03:06] #46 closed

[2017-11-29 03:11] jjasonclark commented on #8
`docker-compose up` does not create a TTY so the dashboard cannot render.
`docker-compose run` does by default create a TTY and that is why it works.

You can also skip the bash session and run the test directly if you like. `docker-compose run --rm web npm start`

[2017-11-29 17:35] ryan-roemer commented on #8
@jjasonclark -- Can you create a short section in the README for using ndb with docker and create a PR that closes this issue? Thanks!

[2017-11-29 17:37] ryan-roemer commented on #10
@Maxwell2022 -- Can you update to latest nodejs-dashboard, check out #15 for possibly solutions and report back if the issue persists?

If it does, please create a minimal repository that exposes the issue with install + error reproduction steps and we'll jump in and figure things out. Thanks!

[2017-11-29 19:29] #8 closed

[2017-11-29 19:32] jjasonclark commented on #15
Added README instructions for the environment values found in this issue.

PR https://github.com/FormidableLabs/nodejs-dashboard/pull/74

[2017-11-29 19:33] jjasonclark commented on #10
PR https://github.com/FormidableLabs/nodejs-dashboard/pull/74 has been merged with more setup instructions for Docker and Docker compose based on what was found in this issue.

[2017-11-29 19:34] jjasonclark commented on #8
PR https://github.com/FormidableLabs/nodejs-dashboard/pull/74 has been merged with added language about the require TTY and its use with Docker and Docker compose.

[2017-11-29 19:38] jjasonclark commented on #36
PR https://github.com/FormidableLabs/nodejs-dashboard/pull/74 includes setup instructions about the required environment variables found in this issue. I'm going to close this issue, but @rakeen please leave a comment if this doesn't solve the issue for you as well.

[2017-11-29 19:38] #36 closed

[2017-11-29 20:15] jjasonclark commented on #10
Closing, both issues (display and execution) have been solved via merged PRs.

[2017-11-29 20:15] #10 closed

[2017-11-29 20:44] jjasonclark commented on #71
I believe this is a startup issue with the child process. I was able to verify this bug if I created a npm task as `node bin/nodejs-dashboard.js -- ts-node test/app/index.js`. But if I change to a more explicit path to `ts-node` then it works as expected. `node bin/nodejs-dashboard.js -- node_modules/.bin/ts-node test/app/index.js`

@dyst5422 Could you please try a possible solution? Either use a

[2017-11-30 00:21] jjasonclark opened #75 "Bug: Linux shells cannot have dash-cased environment variable names."
No stats are collected when using `nodemon`. The dashboard app spawns the `nodemon` process which then spawns the actual node app. This is a bit different from using `nodemon` to reload the dashboard app if it terminates. (from issue https://github.com/FormidableLabs/nodejs-dashboard/issues/9)

**Repo steps**

1. Install `nodemon` in the project. `yarn add -D nodemon`
1. Execute test app with `nod

[2017-11-30 02:34] jjasonclark commented on #75
I thought this might be related to the child processes not getting included in the parents stats. Although before testing that I discovered that `nodemon` is changing the environment variables of the child process. Check out the differences in the environments for each.

Include the following 2 tasks
[code]

Notice that the non-nodemon version includes the 3 environment values set by the dashboard

[2017-11-30 22:02] ryan-roemer commented on #75
Thanks @jjasonclark -- I'll take a look at this. Out of curiosity, which node version are you running?

[2017-11-30 22:12] jjasonclark commented on #75
Hehe, good question. Nodemon in Node >= 1.8 adds the shelling out. This test was done with Node 8.9.0

[2017-11-30 22:54] ryan-roemer commented on #75
@jjasonclark -- I've created a playground repo for us at https://github.com/FormidableLabs/nodejs-dashboard-75-experiments

Can you pull that down and try things out? I actually see the env vars in both incarnations of your commands there...

Are you on Windows or Mac?

[2017-11-30 23:34] jjasonclark commented on #75
I'm on Ubuntu 16.04. And I see the vars using your repo only for the non-nodemon version. The nodemon version does not show the 3 environment values.

[2017-11-30 23:38] jjasonclark commented on #75
Created a branch for using a Docker host for consistency. It does repo the issue.

https://github.com/FormidableLabs/nodejs-dashboard-75-experiments/tree/jason_docker

[2017-12-01 18:40] ryan-roemer commented on #75
From the docker shell in Alpine:

[code]

Side note: I actually just hacked up `nodemon` itself right before the spawn in `lib/monitor/run.js` with:

[code]

We should most likely switch to underscore case with something like `nodejs_dashboard_*`.

See: http://pubs.opengroup.org/onlinepubs/000095399/basedefs/xbd_chap08.html

It looks like other shells (like my Mac) are more permissive.

I'll open

[2017-12-01 19:00] ryan-roemer opened #77 "Travis: isn't hooked up!"
Apparently, Travis hasn't run in 8 months: https://travis-ci.org/FormidableLabs/nodejs-dashboard/builds

Our config looks OK, but something's wrong as it's not running.

[2017-12-01 22:20] #77 closed

[2017-12-02 00:53] #75 closed

[2017-12-04 17:49] mscottx88 commented on #68
This work is completed.

[2017-12-04 17:49] #68 closed

[2017-12-04 17:50] mscottx88 commented on #69
This work is not yet complete.  For it to move forward, code coverage tests need to be created and peer review completed.

[2017-12-04 18:21] ryan-roemer opened #80 "BUG: Flaky MetricsProvider tests in CI"
I'm anecdotally seeing a lot of failures like:

[code]

in Travis. Current incarnation: https://travis-ci.org/FormidableLabs/nodejs-dashboard/jobs/311447216 (I'm restarting this build so it may pass next time...)

[2017-12-04 19:44] jjasonclark commented on #12
Adding link to related Blessed issue https://github.com/chjj/blessed/issues/235

[2017-12-08 18:00] jjasonclark commented on #80
This failed again on build #78.2

[2017-12-19 19:31] ryan-roemer commented on #73
Closing due to lack of activity / a reproduction. If this issue persists in latest package, please create a new issue / reopen a minimal repository that exposes the error. Thanks!

[2017-12-19 19:31] #73 closed

[2018-01-03 17:41] jjasonclark commented on #80
Fixed with PR change

[2018-01-03 17:41] #80 closed

[2018-01-03 17:42] jjasonclark commented on #69
Latest release includes 4 new views showing many details about the platform the node app is running on.

[2018-01-03 17:42] #69 closed

[2018-03-11 08:00] i0natan opened #89 "How does monitoring the event loop works?"
Thanks for the great work. I'm just curious, where/how is the event loop monitoring happens? any reference to a code file/article will be appreciated

[2018-03-12 02:58] jasonwilson commented on #89
hey @i0natan,

The dashboard-agent uses [blocked](https://github.com/tj/node-blocked) to measure eventloop delay. See the agent code and integration  [here](https://github.com/FormidableLabs/nodejs-dashboard/blob/master/lib/dashboard-agent.js#L38-L39).

Feel free to reopen if you have anymore questions!

[2018-03-12 02:58] #89 closed

[2018-03-29 13:08] AaronRobinson opened #90 "Error: Cannot find module 'nodejs-dashboard'"
mac OS 10.13.3
node v 8.9.1
Tried on Hyper and iTerm
[code]

This starts the dashboard but gives me an error accessing the module...

<img width="571" alt="screen shot 2018-03-29 at 14 06 53" src="https://user-images.githubusercontent.com/1792811/38090443-7f281ecc-335a-11e8-9fd5-4c042cb42b92.png">

[2018-10-05 21:04] jeremy-j-ackso opened #91 "Outline of usage risks."
I'm curious about the risks related to using this package.

The docs say not to use it in production, but without outlining what the encountered or anticipated problems with the current version might be.

Providing an outline of risks can help a developer understand your reasons for this suggestion, enabling them to determine for themselves if those concerns are applicable for their project and at

[2018-10-31 16:45] Sammed98 commented on #36
Still having the issue... Could someone explain a bit clearly on what to change to remove the question mark symbol.

[2018-11-29 12:47] hooper-hc opened #92 "报错"
RangeError [ERR_INVALID_OPT_VALUE]: The value "-63" is invalid for option "size"

[2019-02-02 20:06] crobinson42 commented on #92
I'm getting the same issue, any ideas?

[code]

[2019-06-12 02:58] alfianriv commented on #73
I have same issues here

[2019-06-12 03:07] ryan-roemer commented on #73
Hi @alfianriv -- same request to help us hone in and identify the problem:

Can you create a minimal repository that exposes the error and then give us install + error reproduction steps so that we can more quickly diagnose what's going on? Thanks!

[2019-09-26 11:06] SirPhemmiey commented on #90
This should be self-explanatory.

Since you installed the library globally, in your package.json file it should be like `nodejs-dashboard -- node -r test.js` and not `nodejs-dashboard -- node -r nodejs-dashboard test.js` as in the instructions

[2019-09-26 11:09] SirPhemmiey opened #95 "How is monitoring my requests?"
After installing and configuring the library, I ran some requests but it's not indicating in the terminal.

How do i go about that?

[2019-11-20 17:05] ryan-roemer commented on #90
The `-r nodejs-dashboard` part **is** required and is the only require that we need for the dashboard. The problem is that sometime after like node8 or what not globally installed things via at least NVM which I use aren't findable.

Here's some info:

[code]

When I dig and prefix the path to the actual nodejs-dashboard module, it works:

[code]

I will try and see if I can get a more general sol

[2019-11-20 17:14] ryan-roemer commented on #90
As a quick hack if nothing else works we can probably have the nodejs-dashboard CLI augment `NODE_PATH` with the inferred location of global `node_modules` before spawning the process to execute after `--`

[2019-11-22 18:50] ryan-roemer opened #106 "Consider more keys to kill the dashboard."
From @parkerziegler

[2019-11-22 18:51] #90 closed

[2020-02-12 10:08] huypvw commented on #92
Same
[code]

[2020-02-13 23:42] ryan-roemer commented on #92
If someone could create a minimal repository with:

1. install
2. command that produces the error

steps then we could pull it down and hopefully diagnose it.

Thanks!